* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  background: #ccc; /* footer */
  width: 90%;
  max-width: 1000px;
  margin: auto;

  /* Flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header {
  background: #71737C; /* Desnav */
  width: 100%;
  padding: 20px;

  /* FLex */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

header .logo {
  color: #fff;
  font-size: 40px;
}

header .logo img {
  width: 60px;
  vertical-align: top;
}

header .logo a {
  color: #fff;
  text-decoration: none;
  line-height: 60px;
}
.topnav {
width: 100%;
background-color: #333;
overflow: auto;
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
width: 16%
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
background-color: #4CAF50;
color: white;
}
@media screen and (max-width: 846px) {
  .topnav a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}


.main {
  background: white;
  padding: 20px;

  /* Flex */
  flex: 1 1 70%;
}

article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
article:nth-last-child(1) {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

aside {
  background: #14784A;
  padding: 20px;
  /* Flex */
  flex: 1 1 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
}
aside .widget {
  background: yellow;
  height: 150px;
  margin: 10px;
}

footer {
  background: #2c3r50;
  width: 100%;
  padding: 20px;
  clear: both;

  /* FLex */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .links {
  background: #F1BF2D;
  position: static;
  border-radius: 15px;
  /* FLex */
  display: flex;
  flex-wrap: wrap;

}

footer .links a {
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

footer .links a:hover {
  background: #a99039;
}
@media screen and (max-width: 846px) {
  .links a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}
@media screen and (max-width: 800px) {
  .contenedor {
    flex-direction: column;
  }

  header {
    flex-direction: column;
    padding: 0;
  }

  header .logo {
    margin: 20px 0;
  }

  header nav {
    width: 100%;
  }

  aside {
    flex-direction: row;
    flex: 0;
  }
  aside .widget {
    flex-grow: 1;
  }
}
body {
  background-color: gray;
}

.cursos {
  background: #A5DF00;
  padding: 20px;

  /* Flex */
  flex: 1 1 70%;
}

.cursos article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}

.cursos article:nth-last-child(1) {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
section {
  background: #ccc;
}

section .cursos {
  /* Flex */

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.imagen-cursos {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.imagen-cursos li{
  display: -webkit-flex;
  display: flex;
}
/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  /* text-shadow: rgba(0,0,0,0.5) 3px 3px 5px; */
}

/* Style tab links */
.tablink {
  background-color: #063169;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #008080;
}


/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: #3F0E34;}
#Market {background-color: #3F0E34;}
#Events {background-color: #3F0E34;}
#IDK {background-color: #3F0E34;}
}
.igceal {
  float: right;
}
.responsiveimg {
  width: auto;
  height: auto;
  
}

.vermas {
  background: #555;
  color: #fff;
  text-decoration-line: none;
  padding-block-end: 2px;
  height: 30px;
  width: 20px;
}
/* Mercado */

article .market {
  margin: 20px;
}

.markett {
  margin: 0 20px 20px 0;
}
.button {
    background-color: #DF3A01; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 20%;
}



